.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.nav-logo img {
  width: 35px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  position: relative;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #00e5ff;
  bottom: -5px;
  left: 0;
  transition: 0.3s;
}

.navbar a:hover::after,
.navbar a.active::after {
  width: 100%;
}

.navbar a.active {
  color: #00e5ff;
}
